.styled {
    font-size: 25px;
    cursor: pointer;
    color: gray;
    position: relative;
    bottom: 13px;
    right: 10px;
}

/* .styled:hover {
    color: rgba(255, 0, 0, 1);
} */

/* .styled:active {
    color: rgba(255, 0, 0, 1);
} */

.styled.isActive{
    color: rgba(255, 0, 0, 1);
}
